.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.app-name {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.search-bar {
    margin-bottom: 20px;
}

.city-search {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 1.2rem;
    margin-top: 20px;
}

img {
    margin-top: 10px;
}

h2 {
    font-size: 1.8rem;
    margin-top: 10px;
}

p {
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .city-search {
        width: 80%;
    }

    h2, p {
        font-size: 1rem;
    }
}
